.col-md-2
  padding-right: 0  
.border-red
  border: 1px solid red
.border-custom
  border: 1px solid #0072BC 
.border-green
  border: 1px solid green  
.bg-green
  background: green 
.bg-custom
  background: #0072BC
.pad
  padding-right: 0  
.chart-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.chart
  width: 100%
  height: 320px
  min-width: 300px
.cursor-pointer
  cursor: pointer 



$card-hover-scale: 1.02
$card-hover-translateY: -5px
$card-shadow-hover: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2)

.dashboard-card
  transition: transform 0.3s ease, box-shadow 0.3s ease
  cursor: pointer

  &:hover
    transform: translateY($card-hover-translateY) scale($card-hover-scale)
    box-shadow: $card-shadow-hover

  .card-body
    text-align: center

    .card-title
      text-transform: uppercase
      font-weight: 600
      font-size: 0.875rem

    .display-5
      font-size: 2.5rem
      font-weight: 700

    p
      font-size: 0.75rem
      margin-bottom: 0


.scroll-container
  max-height: calc(100vh - 140px)
  overflow-y: scroll
  display: block
  max-width: 100%
  position: relative

  // Hide scrollbar for WebKit-based browsers (Chrome, Safari)
  &::-webkit-scrollbar
    display: none

  // Hide scrollbar for Firefox
  scrollbar-width: none



.btn:focus, .btn:active 
  outline: none !important
  box-shadow: none !important






.toggle-icon-btn
  position: absolute
  top: 15px
  right: -12px
  z-index: 1050
  background-color: #0072bc
  color: white
  border: none
  border-radius: 50%
  width: 28px
  height: 28px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  cursor: pointer
  transition: all 0.3s ease

  i
    font-size: 14px

  &:hover
    background-color: darken(#0072bc, 10%)
.toggle-icon-btn-collapsed
  position: absolute
  top: 15px
  left: 20px
  transform: translateX(-50%)
  z-index: 1050
  background-color: #0072bc
  color: white
  border: none
  border-radius: 50%
  width: 28px
  height: 28px
  display: flex
  align-items: center
  justify-content: center
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  cursor: pointer
  transition: all 0.3s ease

  i
    font-size: 14px

  &:hover
    background-color: darken(#0072bc, 10%)
.chart-container
  max-width: 100%

select.form-select
  min-width: 140px



// Custom Select styles
.custom-select
  background-color: #f4f6f9 // Light grey background
  border: 1px solid #ced4da // Border color
  border-radius: 8px // Rounded corners
  padding: 2px 5px // Padding for better spacing
  transition: all 0.3s ease-in-out // Smooth transition on focus
  height: 30px

  // Change background on hover
  &:hover
    background-color: #e9ecef
    border-color: #adb5bd

  // Focus effect with shadow
  &:focus
    background-color: #fff
    background-color: #f4f6f9
    border-color: #495057
    box-shadow: 0 0 5px black // Blue glow effect

  // Style the dropdown icon
  &::after
    content: ' ▼' // Adds a downward arrow
    color: #6c757d
    font-size: 12px
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
.fw-bold
  font-weight: bold
.Hover
  cursor: pointer
  transition: background-color 0.8s ease, transform 0.3s ease

  &:hover
    background-color: #f0f0f0
    // transform: translateY(-5px)

