.manager-candidates
  display: flex
  flex-wrap: wrap
  justify-content: start
  gap: 20px

.candidate
  width: 150px
  text-align: center
  border: 1px solid #ccc
  padding: 10px
  border-radius: 5px
  background-color: #f9f9f9
