<div class="container-fluid">
  <app-nav></app-nav>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Job Code
    </li>
    <li class="_date">
      Logged in from {{myDate | momentDate: 'dddd, DD'}}<sup>{{(myDate | momentDate: 'D') | dateSuffix}}</sup>
      {{myDate | momentDate: 'MMM yyyy, hh:mm A'}}
    </li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row g-2">
    <div class="col-md-3 mb-2">
      <div class="card border-0 p-0">
        <div class="card-body p-2">
          <app-side-bar></app-side-bar>
        </div>
      </div>
    </div>
    <!-- Right side content -->
    <div class="col-md-9">
      <div class="card border-0">
        <div class="card-body">
          <!-- <div class="container d-flex flex-column justify-content-center align-items-center text-center">
            <input type="search" class="form-control form-control-sm search-input"
            placeholder="Search Job Codes..." [formControl]="searchQuery" aria-level="Search"
            style="max-width: 150px; margin-right: 20px; font-size: 13px;">
            <h1>{{data}}</h1>
          </div> -->




          <div class="col-md-3 form-group">
            <label for="reportingDate">Reporting Date<span class="text-danger">*</span></label>
            <input
              type="text"
              id="reportingDate"
              class="form-control"
              placeholder="Date"
              formControlName="reportingDate"
              autocomplete="off"
              [bsConfig]="{
                adaptivePosition: true,
                showWeekNumbers: false,
                isAnimated: true,
                containerClass: colorTheme,
                customTodayClass: 'custom-today-class',
                dateInputFormat: 'YYYY-MM-DD'
              }"
              bsDatepicker
              required
              readonly
            />
            <!-- <div
              *ngIf="
                editPromotionForm.get('reportingDate')?.invalid &&
                editPromotionForm.get('reportingDate')?.touched
              "
              class="text-danger"
            > -->
              Reporting Date is required.
            </div>
          </div>



        </div>
      </div>

    
  </div>
</div>

<!-- loader -->
<div class="loader attDnceLoadr" *ngIf="">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
