<div class="container-fluid">
    <app-nav></app-nav>
  </div>
  
  <div class="container-flui mt-3">
    <div class="row g-2">
      <div class="col-md-2 mb-2">
        <div class="card border-0 p-0 shadow">
          <div class="card-body p-2">
            <app-asset-manager-side-bar></app-asset-manager-side-bar>
          </div>
        </div>
      </div>
      <!-- Right side content -->
      <div class="col-md-10">
        <div class="card py-1 border-0">
          <div class="card-body py-1">
  
            <div class="row mb-2 align-items-center">
              <div class="col-md-6">
                <span class="fw-bold text-danger">
                  Shortlisted
                  <!-- <i [ngClass]="'bi bi-' + (originalRows.length) + '-circle-fill'"></i> -->
                  <span class="badge badge-light  badge bg-danger text-white">{{totalRecords}}</span>
                </span>
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-center">
                <input type="search" class="form-control form-control-sm search-input" placeholder="Search"
                  [formControl]="searchQuery" aria-level="Search"
                  style="max-width: 150px; margin-right: 20px; font-size: 13px;">
                <!-- <i class="fa fa-search"></i> -->
                <button type="button" (click)="toggleOffcanvas()" class="btn btn-sm custom-bg text-light">
                  Filter Options
                </button>
              </div>
            </div>
            <div class="scroll-container p-0">
              <table class="table table-bordered">
                <thead class="custom-bg">
                  <tr class="text-light">
                    <th *ngFor="let col of columns" class="small-header-th sticky-col"
                      [ngClass]="{'text-center': col.center}">
                      {{ col.label }}
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf="rows?.length > 0; else noData">
                  <tr *ngFor="let row of rows">
                    <td *ngFor="let col of columns" class="small-header"
                      [ngClass]="{'text-uppercase': col.uppercase, 'text-center': col.center}">
  
                      <ng-container *ngIf="col.key === 'status'; else default">
                        <span *ngIf="row.status === 1001" class="text-success fw-bold">Open</span>
                        <span *ngIf="row.status === 1003" class="text-info fw-bold">Hold</span>
                        <span *ngIf="row.status === 1005" class="text-danger fw-bold">Closed</span>
                      </ng-container>
  
                      <ng-template #default>
                        <ng-container *ngIf="col.key === 'employeeid'; else normal">
                          <button class="border-none custom-bg text-white custom-action-btn px-2"
                            (click)="handleAction(row.employeeid)">
                            Issue
                          </button>
                        </ng-container>
                        <!-- <ng-template #normal>
                          {{ row[col.key] }}
                        </ng-template> -->
                        <ng-template #normal>
                          <span [innerHTML]="highlightMatch(row[col.key])"></span>
                        </ng-template>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
                <ng-template #noData>
                  <tbody>
                    <tr>
                      <td [attr.colspan]="columns.length+1">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="">
                            <!-- No data available -->
                            <img
                              src="https://assets-v2.lottiefiles.com/a/92920ca4-1174-11ee-9d90-63f3a87b4e3d/xxNZvglgy1.gif"
                              width="150px" height="150px" alt="">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </ng-template>
              </table>
  
  
            </div>
  
            <!-- Pagination Controls -->
            <hr *ngIf="rows.length > 0" class="custom-hr mb-2 mt-1">
  
            <div class="d-flex justify-content-between align-items-center mt-1" *ngIf="rows.length > 0">
              <span class="small badge bg-secondary text-white">
                Showing {{ startIndex }} to {{ endIndex }} of {{ totalRecords }} Records
              </span>
            
              <ul class="pagination pagination-sm mb-1">
                <!-- Previous Page Button -->
                <li class="page-item">
                  <button 
                    type="button" 
                    class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                    (click)="changePage(currentPage - 1)"
                    [disabled]="currentPage === 1"
                    [class.disabled]="currentPage === 1"
                    [ngClass]="{'custom-bg': currentPage > 1, 'bg-secondary': currentPage === 1}">
                    <i class="bi bi-chevron-left"></i>
                  </button>
                </li>
            
                <!-- Page Number Display -->
                <li class="page-item mr-2 d-none d-md-block">
                  <span class="px-3 py-1 small text-dark fw-bold border rounded bg-light">
                    Page {{ currentPage }} of {{ totalPages }}
                  </span>
                </li>
            
                <!-- Next Page Button -->
                <li class="page-item">
                  <button 
                    type="button" 
                    class="border-none text-white custom-action-btn px-2 py-1 mr-2"
                    (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage >= totalPages"
                    [class.disabled]="currentPage >= totalPages"
                    [ngClass]="{'custom-bg': currentPage < totalPages, 'bg-secondary': currentPage >= totalPages}">
                    <i class="bi bi-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </div>
            
            
            
  
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- loader -->
  <div class="loader attDnceLoadr" *ngIf="">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  
  
  <div class="offcanvas-right" [class.show]="isOpen">
    <div class="offcanvas-header">
      <h5 class="custom-text fw-bold">Filter </h5>
      <button type="button" class="close" (click)="closeOffcanvas()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container mt-3">
      <!-- Name Filter -->
      <div class="form-group">
        <label for="nameFilter">Select Name</label>
        <select class="form-control form-control-sm" id="nameFilter">
          <option value="">Select</option>
          <option value="rajender">Rajender</option>
          <option value="sisisha">Sirisha</option>
          <option value="anusha">Anusha</option>
          <option value="durga">Durga</option>
        </select>
      </div>
  
      <!-- Date Filter -->
      <div class="form-group">
        <label for="dateFilter">Select Date</label>
        <input type="date" class="form-control form-control-sm" id="dateFilter">
      </div>
  
      <!-- Category Filter -->
      <div class="form-group">
        <label for="categoryFilter">Category</label>
        <select class="form-control form-control-sm" id="categoryFilter">
          <option value="">Select</option>
          <option value="category1">Category 1</option>
          <option value="category2">Category 2</option>
          <option value="category3">Category 3</option>
        </select>
      </div>
  
      <!-- Buttons -->
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-sm custom-bg text-light w-100" (click)="applyFilter()">Filter</button>
          </div>
          <div class="col-6">
            <button class="btn btn-sm btn-danger w-100" (click)="closeOffcanvas()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <ng-template #interviewDialog>
    <div class="animate-zoom">
      <div class="container mt-1">
        <h4 class="mb-3">Offer Letter</h4>
    
        <div class="card p-3">
          <p><strong>Candidate Name:</strong> {{ offerData.name }}</p>
          <p><strong>Position:</strong> {{ offerData.position }}</p>
          <p><strong>Salary:</strong> ₹ {{ offerData.salary }}</p>
          <p><strong>Start Date:</strong> {{ offerData.startDate }}</p>
        </div>
    
        <!-- Button aligned to the right -->
        <div class="d-flex justify-content-end mt-3">
          <button class="btn custom-bg text-white" (click)="printOfferLetter()">Print</button>
        </div>
      </div>
    </div>
    
  </ng-template>
  
  
  
  
  <div class="loader attDnceLoadr" *ngIf="isLoading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>