<div class="emoji-containe" (mousemove)="onMouseMove($event)" >
    <div class="container-fluid">
        <app-nav></app-nav>
    </div>

    <div class=" container-fluid card py-1 border-0">
        <div class="card-body py-1">
            <div class="d-flex align-items-center gap-2 mt-3">
                <div class="row w-100">
                    <div class="col-12 col-md-10 d-flex align-items-center">
                        <h4 class="fw-bold mb-0 mr-4">Reporting Managers</h4>
                        <button class="btn rounded-circle btn-sm border px-2 py-1 mr-2"
                            [ngClass]="{ 'bg-white': currentPage === 0, 'bg-warning text-white': currentPage > 0 }"
                            (click)="prevPage()" [disabled]="currentPage === 0">
                            <i class="bi bi-arrow-left"></i>
                        </button>
                        <button class="btn rounded-circle btn-sm border px-2 py-1"
                            [ngClass]="{ 'bg-light': currentPage >= maxPage, 'bg-warning text-white': currentPage < maxPage }"
                            (click)="nextPage()" [disabled]="currentPage >= maxPage">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12 col-md-2 mt-sm-3">
                        <input type="search" class="form-control form-control-sm search-input"
                            placeholder="Search Manager" [formControl]="searchQuery" aria-level="Search">
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="row" *ngIf="paginatedProfiles.length > 0; else noDataFound">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3"
                        *ngFor="let profile of paginatedProfiles; let i = index"
                        [@slideAnimation]="{ value: '', params: { offset: slideDirection } }">
                        <div class="border border-1 border-dark cursor-pointer p-1 border-radius"
                            [ngClass]="{'bg-dark': profile.bgDark}"
                            [@hoverAnimation]="hoveredCard === i ? 'hover' : 'default'" (mouseenter)="setHover(i)"
                            (mouseleave)="setHover(null)" (click)="setActive(i,$event)" (dblclick)="handleDoubleClick(i, $event)">
                            <div class="card-body p-1 d-flex align-items-center">
                                <img [src]="profile.image" width="50" height="50" alt="Profile Image"
                                    (click)="toggleOffcanvas($event)" class="rounded-circle mr-2">
                                <div class="d-flex flex-column">
                                    <span class="fw-bold" [ngClass]="{'text-white': profile.bgDark}">{{ profile.name
                                        }}</span>
                                    <span class="text-muted small" [ngClass]="{'text-white': profile.bgDark}">{{
                                        profile.role }}</span>
                                    <span class="text-muted small" [ngClass]="{'text-white': profile.bgDark}">Ex: {{
                                        profile.experience }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noDataFound>
                    <div class="d-flex justify-content-center align-items-center">
                        <h5 class="text-muted fw-bold">No Manager's Found!</h5>
                    </div>
                </ng-template>
            </div>
            <hr>
            <div *ngIf="paginatedProfiles.length > 0" class="d-flex align-items-center gap-2">
                <h5 class="fw-bold mb-0 mr-4">Teams</h5>
            </div>
            <div *ngIf="paginatedProfiles.length > 0"
                class="mt-4 mt-4-custom d-flex flex-wrap gap-3 justify-content-start">
                <div class="border border-1 border-dark cursor-pointer p-1 border-radius" *ngFor="let team of teams">
                    <div class="card-body p-1 d-flex align-items-center" (click)="trackingPage('1234')">
                        <span class="fw-bold">{{ team.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="offcanvas-right" [class.show]="isOpen">
    <div class="container mt-3">
        <div class="candidate-details text-center">
            <img [src]="candidate.image" alt="Candidate Image" class="img-fluid w-100 rounded-top" style="max-height: 300px; object-fit: cover;">
            <div class="p-3">
                <h5 class="fw-bold mb-1">{{ candidate.name }}</h5>
                <p class="mb-0 text-muted">{{ candidate.designation }}</p>
                <p class="mb-1 text-muted">Experience: {{ candidate.experience }}</p>
                <p class="mb-1 text-muted">Location: {{ candidate.location }}</p>
                <p class="mb-1 text-muted">Email: {{ candidate.email }}</p>
                <p class="mb-1 text-muted">Phone: {{ candidate.phone }}</p>
            </div>
            <div class="row mt-3 px-3">
                <div class="col-12">
                    <button class="btn btn-sm btn-danger w-100" (click)="closeOffcanvas()">Close</button>
                </div>
            </div>
        </div>
        
    </div>

</div>